[submodule "tests/ProjectA/CMake"]
	path = tests/ProjectA/CMake
	url = https://github.com/asmodehn/wkcmake.git
[submodule "tests/ProjectB/Custom CMake"]
	path = tests/ProjectB/Custom CMake
	url = https://github.com/asmodehn/wkcmake.git
[submodule "tests/ProjectCsub/subCMake"]
	path = tests/ProjectCsub/subCMake
	url = https://github.com/asmodehn/wkcmake.git
[submodule "tests/Bullet/CMake"]
	path = tests/Bullet/CMake
	url = https://github.com/asmodehn/wkcmake.git
[submodule "tests/LuaJIT/CMake"]
	path = tests/LuaJIT/CMake
	url = https://github.com/asmodehn/wkcmake.git
[submodule "tests/MySql/CMake"]
	path = tests/MySql/CMake
	url = https://github.com/asmodehn/wkcmake.git
[submodule "tests/MySQL++/CMake"]
	path = tests/MySQL++/CMake
	url = https://github.com/asmodehn/wkcmake.git
[submodule "tests/ProjectC/CMake"]
	path = tests/ProjectC/CMake
	url = https://github.com/asmodehn/wkcmake.git
	branch = devel
